<div class="row">
  <div class="span4"></div>
  <h2>Navigation Bar</h2>
  <div class="span8"></div>
</div>

<h1>About</h1>

<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach

	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month! This is a sample application.
</p>

