<div class="hero-unit">
		<h1>Welcome to One Month Rails!</h1>
	<p>You found the homepage for
		<%= link_to "One Month Rails", "http://teambuy.ca" %> 
		application.
	</p>
	<p> <%= link_to "Sign Up Now", "http://www.teambuy.ca", class: "btn btn-primary btn-large" %> 
	</p>
</div>

